@model HomeMenuDto
@inject IOptionsSnapshot<AppOptions> app
@inject ISiteConfigurationService _sysConfigService 
@{
    var _sysConfig = await _sysConfigService.GetConfigurationAsync<SystemConfigInfo>(); 
} 
<!-- Logo -->
<a href="javascript:;" class="logo">
    <!-- mini Logo 50X50 -->
    <span class="logo-mini">@(_sysConfig.Name)</span>
    <!-- Logo -->
    <span class="logo-lg">@(_sysConfig.Name)</span>
</a>

<!-- Top Bar Style -->
<nav class="navbar navbar-static-top">

    <!-- First level menu -->
    <div id="firstnav">
        <!-- Sidebar Switch Button -->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <!--If you don't want to display corner markers at the top, just add the disable top banner class to ul-->
        <ul class="nav nav-tabs nav-addtabs disable-top-badge hidden-xs" role="tablist">
            @Html.Raw(Model.NavList)
        </ul>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li class="hidden-xs">
                    <a href="@{@_sysConfig.PUBLIC}" target="_blank"><i class="fa fa-home" style="font-size:14px;"></i> Home</a>
                </li>

                <!-- Clear Cache -->
               @* <li class="hidden-xs">
                    <a href="javascript:;" data-toggle="dropdown" title="Wipe cache">
                        <i class="fa fa-trash"></i> Wipe cache
                    </a>
                    <ul class="dropdown-menu wipecache">
                        <li><a href="javascript:;" data-type="all"><i class="fa fa-trash fa-fw"></i> Wipe all cache</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:;" data-type="content"><i class="fa fa-file-text fa-fw"></i> Wipe content cache</a></li>
                        <li><a href="javascript:;" data-type="template"><i class="fa fa-file-image-o fa-fw"></i> Wipe template cache</a></li>
                        <li><a href="javascript:;" data-type="addons"><i class="fa fa-rocket fa-fw"></i> Wipe addons cache</a></li>
                        <li>
                            <a href="javascript:;" data-type="browser">
                                <i class="fa fa-chrome fa-fw"></i> Wipe browser cache
                                <span data-toggle="tooltip" data-title="Wipe browser cache tips"><i class="fa fa-info-circle"></i></span>
                            </a>
                        </li>
                    </ul>
                </li>
*@
                <!-- Multilingual List -->
               @* @if(app.Value.LangSwitchOn)
                {
                    <li class="hidden-xs">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-language"></i></a>
                        <ul class="dropdown-menu">
                            <li class="@(app.Value.Language == "zh-CN"?"active":"")">
                                <a href="?ref=addtabs&culture=zh-CN">简体中文</a>
                            </li>
                            <li class="@(app.Value.Language == "en-US"?"active":"")">
                                <a href="?ref=addtabs&culture=en-US">English</a>
                            </li>
                        </ul>
                    </li>
                }
*@
                <!-- Full screen -->
                <li class="hidden-xs">
                    <a href="#" data-toggle="fullscreen"><i class="fa fa-arrows-alt"></i></a>
                </li>

                <!-- Account information dropdown box -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="@User.Identity.GetAvatar()" class="user-image" alt="">
                        <span class="hidden-xs">@User.Identity?.Name</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="@User.Identity.GetAvatar()" class="img-circle" alt="">

                            <p>
                                @User.Identity?.Name
                                <small>@User.Identity.GetLoginTime()</small>
                            </p>
                        </li>
                        <li class="user-body">
                            <div class="visible-xs">
                                <div class="pull-left">
                                    <a href="@{@_sysConfig.PUBLIC}" target="_blank"><i class="fa fa-home" style="font-size:14px;"></i> Home</a>
                                </div>
                                <div class="pull-right">
                                    <a href="javascript:;" data-type="all" class="wipecache"><i class="fa fa-trash fa-fw"></i> Wipe all cache</a>
                                </div>
                            </div>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a asp-action="Profile" asp-controller="General" class="btn btn-primary addtabsit">
                                    <i class="fa fa-user"></i>
                                    Profile
                                </a>
                            </div>
                            <div class="pull-right">
                                <a asp-action="LogOff" asp-controller="Account" class="btn btn-danger">
                                    <i class="fa fa-sign-out"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Bar Switch Button -->
                <li class="hidden-xs">
                    <a href="javascript:;" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </div>

    @if(app.Value.MultipleNav)
    {
    <!--The second level menu is only displayed when multiplenav is turned on-->
    <div id="secondnav">
        <ul class="nav nav-tabs nav-addtabs disable-top-badge" role="tablist">
                @if (Model.SelectedMenu != null)
                {
                    <li role="presentation" id="tab_@Model.SelectedMenu.Id" class="@(Model.RefererMenu==null?"":"active")"><a href="#con_@Model.SelectedMenu.Id" node-id="@Model.SelectedMenu.Id" aria-controls="@Model.SelectedMenu.Id" role="tab" data-toggle="tab"><i class="fa fa-dashboard fa-fw"></i> <span>@Model.SelectedMenu.Title</span> <span class="pull-right-container"> </span></a></li>
                }
                @if (Model.RefererMenu != null)
                {
                    <li role="presentation" id="tab_@Model.RefererMenu.Id" class="active"><a href="#con_@Model.RefererMenu.Id" node-id="@Model.RefererMenu.Id" aria-controls="@Model.RefererMenu.Id" role="tab" data-toggle="tab"><i class="fa fa-list fa-fw"></i> <span>@Model.RefererMenu.Title</span> <span class="pull-right-container"> </span></a> <i class="close-tab fa fa-remove"></i></li>
                }
        </ul>
    </div>
     }
</nav>
