@using System.Text.RegularExpressions;
@using Microsoft.AspNetCore.Http.Extensions
@model HomeMenuDto
@inject IOptionsSnapshot<AppOptions> app
@inject ISiteConfigurationService _sysConfigService
@{
    Layout = null;
    var _sysConfig = await _sysConfigService.GetConfigurationAsync<SystemConfigInfo>();
    var sidebar_collapse = ViewBag.SidebarCollapse is null ? 0 : (ViewBag.SidebarCollapse.ToString() == "1" ? 1 : 0);
}
<!DOCTYPE html>
<html>
<head>
    <partial name="_Meta">
</head>
<body class="hold-transition @(app.Value.AdminSkin) sidebar-mini @(sidebar_collapse > 0 ?"sidebar-collapse":"") fixed @(app.Value.MultipleTab?"multipletab":"") @(app.Value.MultipleNav?"multiplenav":"")" id="tabs">

    <div class="wrapper">
        @Html.AntiForgeryToken()

        <!-- header -->
        <header id="header" class="main-header">

            @if (Regex.IsMatch(ViewContext.HttpContext.Request.GetDisplayUrl(), @"^(https?:\/\/[^\/:]+(:\d+)?\/)?[^\/]*admin[^\/]*\/", RegexOptions.IgnoreCase))
            {
                <div class="alert alert-danger-light text-center" style="margin-bottom:0;border:none;">
                    Safety tips
                </div>
            }

            <partial name="_Header">
        </header>

        <!-- left menu -->
        <aside class="main-sidebar">
            <partial name="_Menu">
        </aside>

        <!-- content -->
        <div class="content-wrapper tab-content tab-addtabs">
            @if (Model.SelectedMenu != null)
            {
                <div role="tabpanel" class="tab-pane @(Model.RefererMenu!=null?"":"active")" id="con_@(Model.SelectedMenu.Id)">
                    <iframe src="@{@Model.SelectedMenu.Name!.ToString()}?addtabs=1"  width="100%" height="100%" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling-x="no" scrolling-y="auto" allowtransparency="yes"></iframe>
                </div>
            }
            @if (Model.RefererMenu != null)
            {
                <div role="tabpanel" class="tab-pane active" id="con_@Model.RefererMenu.Id">
                    <iframe src="@{@Model.RefererMenu.Name!.ToString()}?addtabs=1" width="100%" height="100%" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling-x="no" scrolling-y="auto" allowtransparency="yes"></iframe>
                </div>
            }
        </div>

        <!-- Bottom link, hidden by default -->
        <footer class="main-footer hide">
            <div class="pull-right hidden-xs">
            </div>
            <strong>Copyright &copy; 2023-@DateTime.Now.Year <a href="@_sysConfig.PUBLIC">@(_sysConfig.Name)</a>.</strong> All rights reserved.
        </footer>

        <!-- Right control bar -->
        <div class="control-sidebar-bg"></div>
        <partial name="_Control">
    </div>

    <!-- JS -->
    <partial name="_Script">
</body>
</html>
